body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    width: 98vw;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    background-color: #0D1419;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1px 6px;
    &__container-start {
        font-size: 1.2em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        &__coverage {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 4px;
            margin: 0;
            padding: 0;
        }
    }
    &__container-center {
        display: flex;
        justify-content: center;
        font-size: 1.3em;
    }
    &__container-end {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }
    img {
        height: 20px;
    }
    span {
        color: #C3C4C9;
        font-size: 1.1em;
    }
}

.main-container {
    background-color: black;
    height: 50vh;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    &__apps {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
        img {
            width: 96px;
        }
        span {
            color: white;
            font-size: 1.1em;
        }
    }
}

.dock {
    background-image: URL("./assets/pattern3.jpg");
    background-repeat: repeat;
    padding: 10px 20px;
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__item {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        img {
            width: 96px;
        }
    }
}

.dock-text {
    background-color: #85888D;
    color: white;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    &__item {
        font-size: 0.9em;
        margin: 0px;
        padding: 0px;
    }
}

.dialog {
    position: absolute;
    top: -700px;
    right: -0.2em;
    border: none;
    background-color: rgb(113, 192, 238);
    border-radius: 5px;
    min-width: 90%;
    opacity: 0.95;
    &__heading {
        color: white;
        font-size: 2.2em;
        font-weight: lighter;
        text-align: center;
    }
    &__close-button {
        position: absolute;
        top: 0.6em;
        border: 0.1 solid #CF4D42;
        background-color: #EC6B60;
        border-radius: 50%;
        font-size: 0.8em;
    }
    &__content {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: white;
        .location {
            font-size: 1.1em;
        }
        .temp {
            // degree symbl shift + alt + 8
            font-size: 8em;
        }
    }
}